<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Привет Djang</title>-->
<!-- </head>-->
<!--<body>-->
<!--<h1>Сведения о компание</h1>-->
<!--<h2>"Интеллектуальные программные системы" </h2>-->
<!--<h3>templates/firstapp/about.html</h3>-->
<!--</body>-->
<!--</html>-->
{% extends "firstapp/base.html" %}
{% block title %} about {% endblock title %}
{%block header %} Сведения о компании {% endblock header %}
{% block content %}
<p> Интегрированные программные системы </p>
<!--<p>Связка шаблонов about.html и base.html</p>-->
<p> Пример вывода даты и времени</p>
<p>Год в виде четырех цифр-{% now "Y" %}</p>
<p>Год в виде последних двух цифр-{% now "y" %}</p>
<p>Полное название месяца-{% now "F" %}</p>
<p>Сокращенное название месяца-{% now "M" %}</p>
<p>Номер месяца, две цифры -{% now "m" %}</p>
<p>Аббревиатура месяца (Ассошейтед пресс) -{% now "N" %}</p>
<p>Номер месяца одна цифра  -{% now "n" %}</p>
<p>День месяца   -{% now "j" %}</p>
<p>День недели, текст   -{% now "1" %}</p>
<p>Часы 0-12   -{% now "h" %}</p>
<p>Часы 0-24   -{% now "H" %}</p>
<p>Минуты 0-59   -{% now "i" %}</p>
<p>Секунды 0-59   -{% now "s" %}</p>
<p>Дата день месяц год   -{% now "j/m/y" %}</p>
<p>Время мин сек  -{% now "H:i:s" %}</p>
{% endblock content %}

